<a href="https://colab.research.google.com/github/RushiMane2003/-CrackYourIntership/blob/main/course1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CourseEra Assignment**

Intro:- This is my first peer assignment

**DATA SCIENCE Languages**

* Python

* R

* SQL

* C++

* Java

* Scala

**DATA SCIENCE LIBRARIES**

Pandas

NumPy

Scikit-learn

TensorFlow

PyTorch

Matplotlib

**TOOLS FOR DATA SCIENCE**

Power BI

Tabulu

Apache Spark

AWS

GCP

This section demonstrates various arithmetic expressions in Python.  We'll cover basic operations like addition, subtraction, multiplication, and division, along with more complex examples using parentheses and order of operations.

In [ ]:
# Multiplication
print(2 * 3)

# Adiition
print(10 + 11)

6
21

In [ ]:
# Hours to minutes
hours = 2
minutes = hours * 60
minutes

120

This section demonstrates various arithmetic expressions in Python.  We'll cover basic athematic operations one by one and a real life example of convert hour into minutes

AUTHOUR:- Rushikesh Mane